.pika-single button {
  border: none;
  outline: none;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
}

.pika-single {
  display: block;
  position: relative;
  background: white;
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease;
}

.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}
.pika-single:after { clear: both }

.pika-single.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.pika-single.is-bound {
  position: absolute;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}

.pika-lendar {
  width: 260px;
  padding: .7rem;
}

.pika-title {
  position: relative;
  text-align: center;
  margin-bottom: .4rem;
}

.pika-label {
  display: inline-block;
  position: relative;
  padding:  0 .25rem;
  font-size: .8rem;
  line-height: 30px;
  font-weight: bold;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  position: relative;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .5;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  padding: 0;
  width: 14.285714285714286%;
}

.pika-table thead th,
.pika-button {
  padding: .2rem;
  line-height: 1.7;
  font-size: .7rem;
  text-align: center;
}

.pika-button {
  display: block;
  width: 100%;
  font-size: .7rem;
  background: transparent;
}

.is-today .pika-button {
  background: #e4e4e4;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  opacity: .2;
}

.pika-button:hover {
  text-decoration: underline;
}

.pika-table abbr {
  text-decoration: none;
}

.pika-table thead th {
  font-size: .65rem;
}

.is-selected .pika-button {
  color: white;
  background: black;
}


