@import 'normalize.css';
@import 'index.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Source Code Pro,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 16px;
  line-height: 1.6;
  padding: 1rem;
}

section {
  display: inline-block;
  margin-right: 2rem;
}

p {
  margin-bottom: .25rem;
}

input {
  font-family: inherit;
  line-height: 1;
  padding: .5rem;
  border: 1px solid grey;
}

input:focus {
  outline: none;
}

